<!DOCTYPE html>
{% extends 'blog/base.html' %}
<html>
<head>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/blog.css">

	<title>Django Girls</title>
</head>
<body>
	{% block content %}
    {% for post in posts %}
        <div class="post">
            <div class="post-published">
                {{ post.published_date }}
            </div>
            <h4><a href="{% url 'blog.views.post_detail' pk=post.pk %}">{{ post.title }}</a></h4>
            <p class="post-text">{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
{% endblock content %}

</body>
</html>