body {
	background-color: #F2F1EF;
}

.text-header {
	color: #fff;
	text-align: center;
	padding: 50px;
	font-style: italic;
	font-size: 30px;
	background-color: #D24D57;
}

.post {
	margin: 20px;
	padding: 10px;
	font-style: none;
    width: 80%;
    border-bottom: 1px solid #D24D57;
}

.post h4 {
	color: #D24D57;
	text-align: left;
}

.post-published {
	text-align: right;
	font-style: italic;
}

.post-text {
	text-align: justify;
}